body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error {
  color: red;
  background: lightpink;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;  
}
.success {
  color: green;
  background: lightgreen;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;  
}

#detailsshown {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: none;
  background-color: #ccccee;
}

#detailshidden {
  display: none;
}